###
### Mail Map for Git
###

# This should also serve as an informal listing of people
# who have made significant contributions to the project.

Kat Marchán <kzm@sykosomatic.org>
Adlai Chandrasekhar <munchking@gmail.com>
